streamlit==1.32.0
streamlit-option-menu==0.3.12
streamlit-extras==0.3.1
PyPDF2==3.0.1
langchain==0.1.12
faiss-cpu==1.8.0
sentence-transformers==2.5.1
llama-cpp-python==0.2.56
selenium==4.18.1
pandas==2.2.1
numpy==1.26.4